<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        title Malangsoftware
        meta(name="keywords", content="malangsoftware")
        meta(name="description", content="Temukan solusi IT anda bersama kami, bersama Malangsoftware pekerjaan anda lebih mudah dan cepat selesai.")
        link(rel="icon", type="image/png", sizes="32x32", href="/assets/themes/malangsoftware/img/icons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/assets/themes/malangsoftware/img/icons/favicon-16x16.png")
        <!--[if IE]>
        link(rel="shortcut icon", href="/assets/themes/malangsoftware/img/icons/favicon.ico")
        <![endif]-->
        link(rel="manifest", href="/assets/themes/malangsoftware/manifest.json")
        meta(name="theme-color", content="#4DBA87")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="apple-mobile-web-app-title", content="hello")
        link(rel="apple-touch-icon", href="/assets/themes/malangsoftware/img/icons/apple-touch-icon-152x152.png")
        link(rel="mask-icon", href="/assets/themes/malangsoftware/img/icons/safari-pinned-tab.svg", color="#4DBA87")
        meta(name="msapplication-TileImage", content="/assets/themes/malangsoftware/img/icons/msapplication-icon-144x144.png")
        meta(name="msapplication-TileColor", content="#000000")
        //- link(rel="preload", href="/assets/themes/malangsoftware/js/vendor.71aa93f388b664069137.js", as="script")
        //- link(rel="preload", href="/assets/themes/malangsoftware/js/app.c89f3db524b287444c5d.js", as="script")
        //- link(rel="preload", href="/assets/themes/malangsoftware/css/app.89bf3461c60799d80e953d6e04e9b7bd.css" as="style")
        //- link(rel="preload", href="/assets/themes/malangsoftware/js/manifest.2ae2e69a05c33dfc65f8.js", as="script")
        link(href="/assets/vendor/bootstrap-3/css/bootstrap.min.css", rel="stylesheet")
        link(href="/assets/themes/malangsoftware/css/regna.css", rel="stylesheet")
        link(href="/assets/themes/malangsoftware/css/custom.css", rel="stylesheet")
        link(href="/assets/vendor/fontawesome-4/css/font-awesome.min.css", rel="stylesheet")

    body
        noscript This is your fallback content in case JavaScript fails to load.
        div(id="app")
            div(style="margin-top: 90px;")
                header(id="header")
                    div(class="container")
                        div(id="logo", class="pull-left")
                            a(href="#hero", style="font-family: Poppins, sans-serif; font-size: 30px;") Malangsoftware
                        nav(id="nav-menu-container")
                            ul(class="nav-menu")
                                li(class="menu-active")
                                    a(href="#hero") Home
                                li
                                    a(href="#about") About Us
                                li
                                    a(href="#services") Products
                                li
                                    a(href="#team") Team
                                li
                                    a(href="#contact") Contact Us
                section(id="hero")
                    div(class="hero-container")
                        h1 Selamat Datang di 
                            span(style="color: rgb(102, 202, 152) !important; font-family: Poppins, sans-serif;") Malangsoftware
                        h2 Bermasalah dengan IT ? Kami Solusinya.
                            br
                            a(href="#services", class="btn-get-started") Mulai Sekarang
                main(id="main")
                    section(id="about")
                        div(class="container")
                            div(class="row about-container")
                                div(class="col-lg-6 content order-lg-1 order-2")
                                    h2(class="title") Sedikit Tentang Kami
                                    <p>
                                        Kami merupakan sebuah perusahaan startup IT dibidang pendidikan dan service.
                                        Kami mempunyai impian dimana tehnologi di indonesia tidak akan kalah dengan
                                        yang ada diluar negeri, dan kami ingin turut mencerdaskan anak bangsa dibidang IT
                                    </p>
                                    div(class="icon-box wow fadeInUp")
                                        div(class="icon")
                                            i(class="fa fa-heart")
                                        h4(class="title")
                                            a(href="") Ketelitian
                                        p(class="description") Kami mempunyai komitmen dalam mengerjakan sesuatu dengan Teliti
                                    div(data-wow-delay="0.2s", class="icon-box wow fadeInUp")
                                        div(class="icon")
                                            i(class="fa fa-american-sign-language-interpreting")
                                        h4(class="title")
                                            a(href="") Profesional
                                        p(class="description") Team Kami selalu menjaga Profesionalitas dalam menjaga kepercayaan anda
                                    div(data-wow-delay="0.4s" class="icon-box wow fadeInUp")
                                        div(class="icon")
                                            i(class="fa fa-thumbs-up")
                                        h4(class="title")
                                            a(href="") Percaya
                                        p(class="description") Kami Percaya Bahwa Kami yang terbaik dan memberikan yang terbaik diantara yang lain
                                div(class="col-lg-6 background order-lg-2 order-1 wow fadeInRight")
                    section(id="services")
                        div(class="container wow fadeIn")
                            div(class="section-header")
                                h3(class="section-title") Produk dan Service
                                p(class="section-description") Kami memiliki beberapa Produk dan Service Untuk Kebutuhan IT anda
                            div(class="row")
                                div(data-wow-delay="0.2s" class="col-lg-4 col-md-6 wow fadeInUp")
                                    div(class="box")
                                        div(class="icon")
                                            a(href="")
                                                i(class="fa fa-desktop")
                                        h4(class="title")
                                            a(href="") PC Set
                                        p(class="description") Pemasangan PC Set (siap pakai) dengan berbagai pilihan harga, cocok untuk perkantoran baik skala kecil maupun besar
                                div(data-wow-delay="0.4s", class="col-lg-4 col-md-6 wow fadeInUp")
                                    div(class="box")
                                        div(class="icon")
                                            a(href="")
                                                i(class="fa fa-graduation-cap")
                                        h4(class="title")
                                            a(href="") Kursus Komputer
                                        p(class="description") Kami menyiapkan beberapa kelas komputer seperti MS. Office, Windows, Linux, Server, Dasar Pemrograman (PHP, Nodejs, Html, CSS)
                                div(data-wow-delay="0.6s" class="col-lg-4 col-md-6 wow fadeInUp")
                                    div(class="box")
                                        div(class="icon")
                                            a(href="")
                                                i(class="fa fa-cloud")
                                        h4(class="title")
                                            a(href="") Cloud Management
                                        p(class="description") Cloud Management merupakan hal penting dalam mengoptimalkan website anda serta support dari kami 7/24jam
                                div(data-wow-delay="0.2s", class="col-lg-4 col-md-6 wow fadeInUp")
                                    div(class="box")
                                        div(class="icon")
                                            a(href="")
                                                i(class="fa fa-code")
                                        h4(class="title")
                                            a(href="") Website Builder
                                        p(class="description") Kami Mempunyai Team khusus untuk membangun sebuah website seperti Company Profile, Web App, Web Service
                                div(data-wow-delay="0.4s" class="col-lg-4 col-md-6 wow fadeInUp")
                                    div(class="box")
                                        div(class="icon")
                                            a(href="")
                                                i(class="fa fa-bullhorn")
                                        h4(class="title")
                                            a(href="") Campaign
                                        p(class="description") Kami menawarkan kepada anda untuk dapat lebih memaksimalkan penjualan produk anda dengan service campaign dari kami
                                div(data-wow-delay="0.6s" class="col-lg-4 col-md-6 wow fadeInUp")
                                    div(class="box")
                                        div(class="icon")
                                            a(href="")
                                                i(class="fa fa-database")
                                        h4(class="title")
                                            a(href="") Database Center
                                        p(class="description") Kami mempunyai Database Center dengan support 7/24jam, sehingga anda lebih mudah untuk memanage data anda
                    section(id="team")
                        div(class="container wow fadeInUp")
                            div(class="section-header")
                                h3(class="section-title") Team
                                p(class="section-description") Kami memiliki team yang solid dengan berbagai keahlian dan kapasitas yang memadai
                            div(class="row")
                                div(class="col-lg-3 col-md-6")
                                    div(class="member")
                                        div(class="pic")
                                            img(src="/assets/themes/malangsoftware/img/team/rohman.png", alt="")
                                        h4 A. Abdul Rohman
                                            span CEO &amp; CTO
                                        div(class="social")
                                            a(href="")
                                                i(class="fa fa-twitter")
                                                a(href="", class="fa fa-facebook")
                                                a(href="")
                                                    i(class="fa fa-google-plus")
                                            a(href="")
                                                i(class="fa fa-linkedin")
                                div(class="col-lg-3 col-md-6")
                                    div(class="member")
                                        div(class="pic")
                                            img(src="/assets/themes/malangsoftware/img/team/tiara.png", alt="")
                                        h4 Tiara P. Ma'aruf
                                            span Product Manager &amp; Executive Marketing
                                        div(class="social")
                                            a(href="")
                                                i(class="fa fa-twitter")
                                                a(href="", class="fa fa-facebook")
                                                a(href="")
                                                    i(class="fa fa-google-plus")
                                            a(href="")
                                                i(class="fa fa-linkedin")
                                div(class="col-lg-3 col-md-6")
                                    div(class="member")
                                        div(class="pic")
                                            img(src="/assets/themes/malangsoftware/img/team/zaqi.png", alt="")
                                        h4 M. Maulidul Arzaqi
                                            span Web Developer
                                        div(class="social")
                                            a(href="")
                                                i(class="fa fa-twitter")
                                                a(href="", class="fa fa-facebook")
                                                a(href="")
                                                    i(class="fa fa-google-plus")
                                            a(href="")
                                                i(class="fa fa-linkedin")
                                div(class="col-lg-3 col-md-6")
                                    div(class="member")
                                        div(class="pic")
                                            img(src="/assets/themes/malangsoftware/img/team/deri.png", alt="")
                                        h4 Deri &amp; Mundir
                                            span Sales &amp; Support
                                        div(class="social")
                                            a(href="")
                                                i(class="fa fa-twitter")
                                                a(href="", class="fa fa-facebook")
                                                a(href="")
                                                    i(class="fa fa-google-plus")
                                            a(href="")
                                                i(class="fa fa-linkedin")
                    section(id="call-to-action")
                        div(class="container wow fadeIn")
                            div(class="row")
                                div(class="col-lg-9 text-center text-lg-left")
                                    h3(class="cta-title") Hubungi Kami Sekarang
                                    p(class="cta-text") Masalah IT anda belum terselesaikan? Jangan tunda lagi untuk menghubungi kami, segera konsultasikan masalah IT anda, Kami Siap membantu anda
                                div(class="col-lg-3 cta-btn-container text-center")
                                    a(href="#contact", class="cta-btn align-middle") Call
                    section(id="contact")
                        div(class="container wow fadeInUp")
                            div(class="section-header")
                                h3(class="section-title") Kontak Kami
                                p(class="section-description") Segera Hubungi kami dan temukan solusi dari masalah IT anda sekarang
                        div(class="container wow fadeInUp")
                            div(class="row justify-content-center")
                                div(class="col-lg-3 col-md-4")
                                    div(class="info")
                                        div
                                            i(class="fa fa-map-marker")
                                            p Jl Tebet Barat VIb No 1<br>Tebet, Jakarta Selatan
                                        div
                                            i(class="fa fa-envelope")
                                            p support@malangsoftware.com
                                        div
                                            i(class="fa fa-phone")
                                            p +62 823 3230 3931
                                    div(class="social-links")
                                        a(href="#", class="twitter")
                                            i(class="fa fa-twitter")
                                        a(href="#", class="facebook")
                                            i(class="fa fa-facebook")
                                        a(href="#" class="instagram")
                                            i(class="fa fa-instagram")
                                        a(href="#", class="google-plus")
                                            i(class="fa fa-google-plus")
                                        a(href="#", class="linkedin")
                                            i(class="fa fa-linkedin")
                                div(class="col-lg-5 col-md-8")
                                    div(class="form")
                                        div(id="sendmessage") Your message has been sent. Thank you!
                                        div(id="errormessage")
                                        div(class="contactForm")
                                            div(class="form-group")
                                                input(type="text", name="name", id="name", placeholder="Your Name",
                                                    data-rule="minlen:4", data-msg="Please enter at least 4 chars", class="form-control")
                                                div(class="validation")
                                            div(class="form-group")
                                                input(type="email", name="email", id="email", placeholder="Your Email",
                                                    data-rule="email", data-msg="Please enter a valid email", class="form-control")
                                                div(class="validation")
                                            div(class="form-group")
                                                input(type="text", name="subject", id="subject",
                                                    placeholder="Subject", data-rule="minlen:4", data-msg="Please enter at least 8 chars of subject"
                                                    class="form-control")
                                                div(class="validation")
                                            div(class="form-group")
                                                textarea(name="message", rows="5", data-rule="required",
                                                    data-msg="Please write something for us", placeholder="Message", class="form-control")
                                                div(class="validation")
                                            div(class="text-center")
                                                button(type="submit") Send Message
                footer(id="footer")
                    div(class="footer-top")
                        div(class="container")
                    div(class="container")
                        div(class="copyright") © Copyright
                            strong Regna.
                                All Rights Reserved
                        div(class="credits") Bootstrap Templates by
                            a(href="https://bootstrapmade.com/") BootstrapMade
        script(src="/assets/vendor/jquery/jquery.min.js")
        script(src="/assets/vendor/bootstrap-3/js/bootstrap.min.js")